<div class="contrainer ">
    
        <div class="card">
            <div class="row">
                <div class="col-4">
                    <img [src]="'assets/images/' " onerror="this.src='assets/images/error.gif'" class="card-img-top"
                        alt="Tour Image">
                </div>

                <div class="col-8">
                    <h5 class="card-title">รายการทัวร์ทั้งหมด</h5>
                    <p class="card-text">ทัวร์ต่างประเทศ</p>
                    <p class="card-text">วันที่ไป</p>
                    <p class="card-text">วันที่กลับ</p>
                    <p calss="card-text">ชื่อของไกด์</p>
                </div>
            </div>
    
    </div>