<app-navbar-guide/>
<app-sidebar-guide/>
<h2 class="mt-5" style="padding-left: 15rem;">ข้อมูลลูกทัวร์</h2>
<div class="row">
    <div class="col-2">

    </div>
    <div class="col-10">
      <!-- <pre>{{tourist | json}}</pre> -->
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="column-no" >ลำดับ</th>
                  <th class="column-name" >รายชื่อ</th>
                  <th class="column-idcard" >เลขบัตรประชาชน</th>
                  <th class="column-email" >อีเมล</th>
                  <th class="column-phone" >เบอร์โทร</th>
                  <th class="column-request" >คำขอพิเศษ</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let allparticipants of tourist;">
                  <ng-container *ngFor="let Participant of allparticipants.participantsresult; let i =index">
                  <tr>
                    <td>{{calculateIndex(i) }}</td>
                  <td>{{ Participant.Tourist_Firstname }} {{ Participant.Tourist_Lastname }}</td>
                  <td>{{ Participant.ID_Card }}</td>
                  <td>{{ Participant.email }}</td>
                  <td>{{ Participant.phone }}</td>
                  <td class="Special_Request">{{ Participant.Special_Request }}</td>
                </tr>  
                </ng-container>
              </ng-container>
              
              </tbody>
            </table>
          </div>
        
    </div>
</div>