<app-navbar/>


<h2 class="mt-5"> เกี่ยวกับเรา </h2>
<div class="row">
  <div class="card" id="card1">
    <div class="card-body">
      <h5 class="card-title" id="title1">Thank For Joining Sabai Tour</h5>
</div>
</div>

<div class="row">

  <div class="col-3">
    <div class = "row mt-4">
    <div class="card" style="width: 18rem;">
        <img src="assets/images/" onerror="this.src='assets/images/error.gif'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ชื่อเล่น: asdasd</h5>
          <p class="card-text">รหัสนิสิต: 123</p>
          <p class="card-text">ชื่อ: </p>
          <p class="card-text">นามสกุล:  </p>
          <p class="card-text">อีเมล: </p>
          <p class="card-text">เบอร์โทร: </p>
          <a href="https://www.facebook.com/" class="btn btn-primary mx-2" target="_blank">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/" class="btn btn-danger mx-2" target="_blank">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://github.com/" class="btn btn-dark mx-2" target="_blank">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class = "row mt-4">
    <div class="card" style="width: 18rem;">
        <img src="assets/images/" onerror="this.src='assets/images/error.gif'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ชื่อเล่น: asdasd</h5>
          <p class="card-text">รหัสนิสิต: 123</p>
          <p class="card-text">ชื่อ: </p>
          <p class="card-text">นามสกุล:  </p>
          <p class="card-text">อีเมล: </p>
          <p class="card-text">เบอร์โทร: </p>
          <a href="https://www.facebook.com/" class="btn btn-primary mx-2" target="_blank">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/" class="btn btn-danger mx-2" target="_blank">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://github.com/" class="btn btn-dark mx-2" target="_blank">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class = "row mt-4">
    <div class="card" style="width: 18rem;">
        <img src="assets/images/" onerror="this.src='assets/images/error.gif'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ชื่อเล่น: asdasd</h5>
          <p class="card-text">รหัสนิสิต: 123</p>
          <p class="card-text">ชื่อ: </p>
          <p class="card-text">นามสกุล:  </p>
          <p class="card-text">อีเมล: </p>
          <p class="card-text">เบอร์โทร: </p>
          <a href="https://www.facebook.com/" class="btn btn-primary mx-2" target="_blank">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/" class="btn btn-danger mx-2" target="_blank">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://github.com/" class="btn btn-dark mx-2" target="_blank">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class = "row mt-4">
    <div class="card" style="width: 18rem;">
        <img src="assets/images/" onerror="this.src='assets/images/error.gif'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ชื่อเล่น: asdasd</h5>
          <p class="card-text">รหัสนิสิต: 123</p>
          <p class="card-text">ชื่อ: </p>
          <p class="card-text">นามสกุล:  </p>
          <p class="card-text">อีเมล: </p>
          <p class="card-text">เบอร์โทร: </p>
          <a href="https://www.facebook.com/" class="btn btn-primary mx-2" target="_blank">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/" class="btn btn-danger mx-2" target="_blank">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://github.com/" class="btn btn-dark mx-2" target="_blank">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
    

</div>

<div class="card" id="cardcomment">
  <form  #contactForm="ngForm">
    <div class="form-group">
      <label for="name">ชื่อ</label>
      <input type="text" id="name" class="form-control" required  name="name">
    </div>
    <div class="form-group">
      <label for="email">อีเมล</label>
      <input type="email" id="email" class="form-control" required  name="email">
    </div>
    <div class="form-group">
      <label for="message">ข้อความ</label>
      <textarea id="message" class="form-control" required  name="message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">ส่งข้อความ</button>
  </form>
  

</div>
    