<app-navbar/>

<div class="container">
    <div id="about">
        <h1>เกี่ยวกับเรา</h1>
        <div class="content" style="text-indent: 50px;">
            <p >Sabaitour เป็นบริษัททัวร์ที่เชี่ยวชาญในการนำเสนอประสบการณ์การท่องเที่ยวที่ไม่เหมือนใครเรามุ่งเน้นการให้บริการทัวร์ทั้งในและต่างประเทศด้วยความใส่ใจในทุกรายละเอียด เพื่อให้ลูกค้าของเราได้สัมผัสกับการเดินทางที่สะดวกสบายและน่าประทับใจ
                ทีมงานของเรามีประสบการณ์ในการจัดทัวร์ทุกรูปแบบ ไม่ว่าจะเป็นทัวร์ธรรมชาติ วัฒนธรรม การผจญภัย หรือทัวร์พักผ่อน เราพร้อมที่จะสร้างความทรงจำอันล้ำค่าและมอบความสุขให้กับทุกท่านในทุกเส้นทาง
                ที่ Sabaitour เราเชื่อมั่นในการบริการที่เป็นกันเอง และมีคุณภาพสูง เพื่อให้ทุกการเดินทางเป็นเรื่องง่าย สบายใจ และสนุกสนานที่สุด</p>
            </div>
        </div>
        <div class="logo">
            <img src="assets/images/Logo.png" class="logosabaitour" alt="">
        </div>
        <div class="map">
            <br><br>
            <h4>แผนที่บริษัท</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3885.6369176065027!2d100.91949452620867!3d13.12217258607366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3102b67ef835f265%3A0x963c6129282e5cb!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LmA4LiB4Lip4LiV4Lij4Lio4Liy4Liq4LiV4Lij4LmMIOC4p-C4tOC4l-C4ouC4suC5gOC4guC4leC4qOC4o-C4teC4o-C4suC4iuC4sg!5e0!3m2!1sth!2sth!4v1729069278314!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="info">
            <br><br>
            <h4>ข้อมูลบริษัท</h4>
            <p>บริษัท สบายทัวร์ จำกัด</p>
            <p>123/4 อาคารสบาย ชั้น 2 ถ.พหลโยธิน แขวงลาดยาว เขตจตุจักร กรุงเทพฯ 10900</p>
            <p>โทร  012-345-6789</p>
            <p>Email: info&#64;sabaitour.com</p>
        </div>
  
</div>