<p>about-us works!</p>
<h2> เกี่ยวกับเรา </h2>
<div class = "row">
   <div class = "col">
    <div class = "card">
      <div class = "card body">
           This is text within card body
       </div>
    </div>   
  </div>
  <div class = "col">
    <div class = "card">
      <div class = "card body">
           This is text within card body
       </div>
    </div>   
  </div>
</div>
<div class = "row mt-4">
    <div class = "col">
     <div class = "card">
       <div class = "card body">
            This is text within card body
        </div>
     </div>
<div class = "row mt-4">
    <div class="card" style="width: 18rem;">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/454109239_864508708452772_6137453025494590725_n.jpg?stp=dst-jpg_p206x206&_nc_cat=104&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeGWvbFm_0A2802BoTQMySboe7gj8NQ1zMR7uCPw1DXMxB4RZLU9nay4lXoI0HQhmAXcdq87MCgIQGvPhcE4RezM&_nc_ohc=Ytc9t0lsUZ4Q7kNvgEdIypO&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QGYzjuJzGJEjbK3zYYB6xNDI4V7UA3e1pivgJXXxr9LWw&oe=66EBE21B" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">พี่หน่วง :</h5>
          <p class="card-text"> อย่าลืมชุดกันหน่วงนะครับ</p>
          <a href="#" class="btn btn-primary">อยากออกรายการ</a>
        </div>
      </div>
          
    </div>
   </div>
 </div>