
<h2 class="mt-5"> เกี่ยวกับเรา </h2>
<div class="row">
  <div class="card" id="card1">
    <div class="card-body">
      <h5 class="card-title" id="title1">Thank For Joining Sabai Tour</h5>
</div>
</div>

<div class="row">

  <div class="col-3">
    <div class = "row mt-4">
    <div class="card" style="width: 18rem;">
        <img src="assets/images/" onerror="this.src='assets/images/error.gif'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ชื่อเล่น: asdasd</h5>
          <p class="card-text">รหัสนิสิต: 123</p>
          <p class="card-text">ชื่อ: </p>
          <p class="card-text">นามสกุล:  </p>
          <p class="card-text">อีเมล: </p>
          <p class="card-text">เบอร์โทร: </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class = "row mt-4">
    <div class="card" style="width: 18rem;">
        <img src="assets/images/" onerror="this.src='assets/images/error.gif'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ชื่อเล่น: asdasd</h5>
          <p class="card-text">รหัสนิสิต: 123</p>
          <p class="card-text">ชื่อ: </p>
          <p class="card-text">นามสกุล:  </p>
          <p class="card-text">อีเมล: </p>
          <p class="card-text">เบอร์โทร: </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class = "row mt-4">
    <div class="card" style="width: 18rem;">
        <img src="assets/images/" onerror="this.src='assets/images/error.gif'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ชื่อเล่น: asdasd</h5>
          <p class="card-text">รหัสนิสิต: 123</p>
          <p class="card-text">ชื่อ: </p>
          <p class="card-text">นามสกุล:  </p>
          <p class="card-text">อีเมล: </p>
          <p class="card-text">เบอร์โทร: </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class = "row mt-4">
    <div class="card" style="width: 18rem;">
        <img src="assets/images/" onerror="this.src='assets/images/error.gif'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ชื่อเล่น: asdasd</h5>
          <p class="card-text">รหัสนิสิต: 123</p>
          <p class="card-text">ชื่อ: </p>
          <p class="card-text">นามสกุล:  </p>
          <p class="card-text">อีเมล: </p>
          <p class="card-text">เบอร์โทร: </p>
        </div>
      </div>
    </div>
  </div>
    

</div>
    