.dashboard {
    padding: 20px;
  }
  
  .dashboard-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .card {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 10px;
    text-align: center;
  }
  

  canvas {
    width: 100% !important; /* ทำให้ canvas ยืดตามความกว้าง */
    height: 400px; /* ตั้งค่าความสูงคงที่ */
  }
  