<app-navbar-manager></app-navbar-manager>
<app-sidebar-manager/>

<div class="field-today">
     <p>Today</p>
    </div>
    <div class="card text-bg-light mb-3 mt-5" style="max-width: 15rem; background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
<div class="field-review">
    <p>Review</p>
</div>
<div class="card text-bg-light mb-3 mt-5" style="max-width: 15rem; background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Light card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>



