



  <!-- ----------------- -->
  <app-navbar />
  <div *ngIf="tourDetails">
  
    <h1>{{ tourDetails.Tour_name }}</h1>
    <div class="star-review ">
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <div class="review">
        <h5>Hot</h5>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img [src]="'assets/images/' + tourDetails.Tour_Picture" class="card-img-top" alt="Tour Image">
        </div>
        <div class="detail col-md-6">
  
          <h3>รายละเอียดทัวร์</h3><hr>
          <div class="row">
          
          <div class="col-6">
            <p>ประเทศ: {{ tourDetails.Tour_Country }}</p>
          <p>เริ่มวันที่: {{ tourDetails.StartDate | date:'shortDate' }}</p>
          <p>ระยะเวลา: {{ tourDetails.period }} วัน</p>
          </div>
          <div class="col-6">
            <p>ที่พัก: {{ tourDetails.Hotel }}</p>
          <p>สิ้นสุดวันที่: {{ tourDetails.EndDate | date:'shortDate' }}</p>
          <p>ราคาต่อคน: {{ tourDetails.Price_per_person }} บาท</p>
          </div>
          
          
          <p class="total">จำนวนคนที่รองรับ: {{ tourDetails.total_seats }} คน</p>
          <p class="teevang">จำนวนที่ว่าง: {{ tourDetails.available_seats }} คน</p>
          <hr>
        </div>
  
  
  
          <div class="row">
            <div class="col-md-5">
              <button class="btn btn-success" (click)="openModal()">จองเลย</button>
            </div>
            <div class="col-md-3">
              <button class="btn-back" routerLink="/home">Back</button>
            </div>
          </div>
        </div>
      </div>
  
  
  
  
    </div>
  
    <!--ปุ่มback เดวทำ-->
  
    <div *ngIf="isModalOpen" class="modal">
      <div class="modal-content">
        <h4>กรอกจำนวนคนจองทัวร์</h4>
        <input type="number" [(ngModel)]="numberParticipant" min="1" placeholder="จำนวนคน">
        <!-- <button (click)="createForms()">ยืนยัน</button> -->
        <button class="cancel" (click)="closeModal()">ยกเลิก</button>
        <button (click)="createForm(tourDetails)">ยืนยัน</button>
      </div>
    </div>
    <!-- form for participants -->
    <div class="bgnameParticipants">
      <div class="nameParticipants">
        <form *ngIf="showForms" (ngSubmit)="submitForms()">
          <div *ngFor="let participant of Participants; let i =index">
            <div class="card">
            <h5>ข้อมูลคนที่ {{i+1}}</h5>
  
            <div class="row">
            <div class="col-4">
              <label>ชื่อ</label>
              <input type="text" [(ngModel)]="participant.firstname" placeholder="ชื่อจริง" name="fistname{{i}}">
            </div>
            <div class="col-4">
              <label>นามสกุล</label>
              <input type="text" [(ngModel)]="participant.lastname" placeholder="นามสกุล" name="lastname{{i}}">
            </div>
            <div class="col-4">
              <label>เลขบัตรประชาชน</label>
              <input type="text" [(ngModel)]="participant.id_card" placeholder="บัตรประชาชน" name="id_card{{i}}">
            </div>
            </div>
  
            <div class="row">
  
            <div class="col-4">
              <label>วันเกิด</label>
            <input type="date" [(ngModel)]="participant.DateOfBirth" name="DateOfBirth{{i}}">
            </div>
  
            <div class="col-4">
              <label>email</label>
            <input type="email" [(ngModel)]="participant.email" placeholder="email@gmail.com" name="email{{i}}">
            </div>
  
            <div class="col-4">
              <label>เบอร์โทรศัพท์</label>
            <input type="tel" [(ngModel)]="participant.phone" placeholder="0847741146" name="tel{{i}}">
            </div>
  
            </div>
            
            <label>ข้อความเพิ่มเติม</label>
            <textarea [(ngModel)]="participant.special_request" placeholder="เขียนคำขอพิเศษ" row="5" cols="50" maxlength="100"
              name="special_request{{i}}"></textarea>
              <button type="submit">ส่งข้อมูลการจอง</button>
          </div>
  
        </div>
        </form>
      </div>
  
    </div>

    <h3>Write a Review</h3>
    <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
      <label for="comment">Your Review:</label>
      <textarea formControlName="comment" id="comment" rows="4" cols="50" required=""></textarea><br>
      <label for="tourName">Tour Name:</label>
      <input type="text" formControlName="tourName" id="tourName" readonly><br>
  
      <button type="submit" [disabled]="reviewForm.invalid">Submit Review</button>
    </form>
  </div>