<!-- <app-navbar/> -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="heading">
    <h1>ทัวร์โตเกียว / JAPAN </h1> 
    <hr />
    <div class="star-review ">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <div class="review"><p>Hot</p></div>
    </div>
    
</div>

<div class="tour-info">
    <div class="container">
        <span class ="slider"></span>
        <span class ="slider"></span>
        <span class ="slider"></span>
    <div class="img-show">
        <img src = "/assets/images/japan.jpg" >
        
    </div>
</div>
</div>

<footer>
    <h4>Our team</h4>
    <div class="team-container">
        <div class="col">
            <div class="row-6">
                <div class="nameteam">
                    <ul>
                        <li>Jetnipat yongyuth as Frontend developer</li>
                        <li>Noratee instul as Backend developer</li>
                        <li>Peerathud puangnil as Backend developer</li>
                        <li>Warintorn nitiudumchok as Frontend developer</li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="col">
            <div class="row-6">
                <div class="nameteam">
                    <ul>
                        <li>Jetnipat yongyuth as Frontend developer</li>
                        <li>Noratee instul as Backend developer</li>
                        <li>Peerathud puangnil as Backend developer</li>
                        <li>Warintorn nitiudumchok as Frontend developer</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="logo">
           <img src="/assets/images/Logo.png" class = " logo-footer">
        </div>
    </div>
    
</footer>