<div class="container mt-4">
    <div class="row">
      <div class="col-md-4" *ngFor="let Tour of homeTourCard | async ">
        <div class="card">
          <img [src]="'http://localhost:3000/' + Tour.Tour_Picture" onerror="this.src='assets/images/error.gif'" class="card-img-top" alt="Tour Image">
          <div class="card-body">
            <h5 class="card-title">ทัวร์:{{ Tour.Tour_name }}</h5>
            <p class="card-text">ประเทศ: {{ Tour.Tour_Country }} </p>
          <!-- Show Start Date -->
          <p class="card-text">เริ่มวันที่: {{ Tour.StartDate | date}}</p>
          <!-- Show End Date -->
          <p class="card-text">สิ้นสุดวันที่: {{ Tour.EndDate | date }}</p>
          <!-- Show Period (calculated in SQL) -->
          <p class="card-text">ระยะเวลา: {{ Tour.period }} วัน</p>
          <p class="card-text">ราคาต่อคน {{Tour.Price_per_person}} บาท</p>
  
            <button class="btn btn-success"button [routerLink]="['/tour-detail',Tour.ProgramTour_ID]">ดูรายละเอียด</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  