<app-navbar-guide />
<app-sidebar-guide />

<!-- <div class="body py-4">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-10">
            <div class="card shadow-lg">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="assets/images/IMG_3764.jpg" onerror="this.src='assets/images/error.gif'" class="card-img-top img-fluid rounded-start" alt="Guide Image">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">คติประจำใจ: Kuyyyyyyyyyyyyyyyyyyyyyyyyyyyy</h5>
                            <hr>
                            <div class="row mb-3" id="guidename">
                                <div class="col-md-6">
                                    <label class="font-weight-bold">ชื่อ</label>
                                    <p>นาย ก. ไกด์</p>
                                </div>
                                <div class="col-md-6">
                                    <label class="font-weight-bold">นามสกุล</label>
                                    <p>สมหมาย</p>
                                </div>
                            </div>
                            <div class="row mb-3" id="guideemail">
                                <div class="col-md-6">
                                    <label class="font-weight-bold">อีเมล</label>
                                    <p></p>
                                </div>
                                <div class="col-md-6">
                                    <label class="font-weight-bold">เบอร์โทร</label>
                                    <p>012-345-6789</p>
                                </div>
                            </div>
                            <div class="row mb-3" id="guidetour">
                                <div class="col">
                                    <label class="font-weight-bold">ประเภทไกด์</label>
                                    <p>ไกด์นำเที่ยวต่างประเทศ</p>
                                </div>
                            </div>
                            <div class="row mb-3" id="etc">
                                <div class="col">
                                    <label class="font-weight-bold">ข้อมูลอื่นๆ</label>
                                    <textarea class="form-control" rows="3" id="comment" placeholder="เพิ่มข้อมูลอื่นๆ..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="body py-4" *ngIf="guide">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="card shadow-lg">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img [src]="'http://localhost:3000/' + guide.User_Picture"
                             class="card-img-top img-fluid rounded-start" alt="Guide Image"
                             onerror="this.src='assets/images/error.gif'">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">ID No. :110{{ guide.Guide_ID }}</h5>
                            <hr>
                            <div class="row mb-3" id="guidename">
                                <div class="col-md-6">
                                    <label class="font-weight-bold">ชื่อ</label>
                                    <p>{{ guide.firstname }}</p>
                                </div>
                                <div class="col-md-6">
                                    <label class="font-weight-bold">นามสกุล</label>
                                    <p>{{ guide.lastname }}</p>
                                </div>
                            </div>
                            <div class="row mb-3" id="guideemail">
                                <div class="col-md-6">
                                    <label class="font-weight-bold">อีเมล</label>
                                    <p>{{ guide.email }}</p>
                                </div>
                                <div class="col-md-6">
                                    <label class="font-weight-bold">เบอร์โทร</label>
                                    <p>{{ guide.phone }}</p>
                                </div>
                            </div>
                            <div class="row mb-3" id="guidetour">
                                <div class="col">
                                    <label class="font-weight-bold">ประเภทไกด์</label>
                                    <p>{{ guide.Type_Name ==='outbound'?'นำเที่ยวต่างประเทศ':'นำเที่ยวในประเทศ'}}</p>
                                </div>
                            </div>
                            <div class="row mb-3" id="etc">
                                <div class="col">
                                    <label class="font-weight-bold">ข้อมูลอื่นๆ</label>
                                    <textarea class="form-control" rows="3" id="comment" placeholder="เพิ่มข้อมูลอื่นๆ..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
