.container {
    width: 100%;
    max-width: 600px;
    height: 680px ;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff47;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1{
    text-align: center;
    color: #FFD700;
    text-shadow: 0 0 10px rgb(171, 255, 150);
}

.boxinput{
    display: flex;
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin: 5px 0;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
