
  
  .modal {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    
  }



.card-img-top {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 500px;
  height: 450px;
  border-radius: 20px;
}

.star-review {
  display: flex;
  align-items: center; 
  background: linear-gradient(to right, #CC3D0B, #E3670C, #FBB448);
  width: 220px;
  height: 40px;
  border-radius: 10px;
  border-top: 5rem;
  
}

.star-review i {
  margin-right: 5px;
  margin-bottom: 0.2rem;
  margin-left: 0.5rem;
  color: #FFEEE7;
}

.container {
  background-color: #ffffff47;
  border-radius: 20px;
  box-shadow: 0px 0px 30px  rgba(227, 228, 237, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18);
  margin-top: 20px;
}



h1{
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 600px;
}

h5{
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}

hr {
  border-top: 1px solid #ddd;
  margin: 10px 0;
}


.teevang {

background: rgb(46, 5, 5) ;
box-sizing: border-box;
border-radius: 5px;
color: rgb(249, 112, 0);
font-size: 18px;
width: 200px;
padding: 6px;
animation : grow-and-shrink 2.5s infinite;
margin-left: 2rem;
}

.detail {
  margin-top: 2rem;
}

.header{
  margin: 2rem;
}







thead {
border: 2px solid rgb(0, 0, 0);
background-color: aliceblue;
}

tbody{
margin-top: 20px;
border: 2px solid rgb(0, 0, 0);
border-radius: 50px;
}

.table {
margin-top: 20px;
background-color: #ffffff;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.table thead th {
background-color: #007bff;
color: #fff;
padding: 10px;
text-align: center;
}

.table tbody tr {
transition: background-color 0.3s;
}

.table tbody tr:hover {
background-color: #f1f1f1;
}

.table td {
padding: 10px;
text-align: center;
vertical-align: middle;
color: #555;
}

.card {
border: 2px solid rgb(0, 0, 0); 
border-radius: 10px;
overflow: hidden;
box-shadow: #000000 0px 0px 10px 0px;
}

.card-img-left {
width: 250px;
height: auto;
object-fit: cover;
}

.card-body {
flex: 1;
}

.card-title {
color: #007bff;
margin-bottom: 15px;
font-size: 40px;
}

.table {
margin-top: 10px;
}



.card-text {
font-size: 20px;
}

hr {
border-top: 3px solid #000000;
margin: 10px 0;
}

.row-button{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}


#payment, #cancel {
  width: 100px;
  height: 40px;
}

.status {
  margin-left: 20px;
margin-top: 9.5px;
}


