<app-navbar />

<div>

  <h1>My booking</h1>

</div>
<div class="container">
  <div class="row" *ngFor="let booked of books ">
    <!-- <pre>{{ booked | json }}</pre> -->
    <div class="col-md-6">
      <img [src]="'assets/images/'+booked.Tour_Picture" class="card-img-top" alt="Tour Image">
    </div>
    <div class="detail col-md-6">

      <h3>รายละเอียดทัวร์ {{booked.Tour_name}}</h3>
      <hr>
      <div class="row">

        <div class="col-6">
          <p>ประเทศ: {{booked.Tour_Country}}</p>
          <p>เริ่มวันที่:{{booked.StartDate | date:'shortDate'}} </p>
          <p>ระยะเวลา: {{booked.period}} วัน</p>
        </div>
        <div class="col-6">
          <p>ที่พัก: {{booked.Hotel}}</p>
          <p>สิ้นสุดวันที่: {{booked.EndDate | date:'shortDate'}}</p>
          <p>ราคาต่อคน: {{booked.Price_per_person}} บาท</p>
        </div>


        <p>จำนวนสมาชิกที่ท่านจอง: {{booked.Tourist_Amount}} คน</p>
        <p>ราคารวม: {{booked.TotalPrice}} บาท</p>
        <p>วันที่จอง: {{booked.Booking_Date | date:'shortDate'}}</p>
        <hr>
      </div>




    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th>รายชื่อ</th>
            <th>เลขบัตรประชาชน</th>
            <th>อีเมล</th>
            <th>เบอร์โทร</th>
            <th>คำขอพิเศษ</th>
            <th>แก้ไข</th>

          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let Participant of booked.Participants; let i = index">
            <!-- <pre>{{ booked.Participants | json }}</pre> -->
            <td>{{i+1}}</td>
            <td>{{Participant.Tourist_Firstname}}  {{Participant.Tourist_Lastname}}</td>
            <td>{{Participant.ID_Card}}</td>
            <td>{{Participant.email}}</td>
            <td>{{Participant.phone}}</td>
            <td>{{Participant.Special_Request}}</td>
            <td><button class="btn btn-primary ">แก้ไข</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <button class="btn btn-danger " (click)="openModal(booked)">ยกเลิก</button>
    </div>
  </div>
</div>


<!-- modal -->
<div class="modal " id="confirmCancelModal" tabindex="-1" aria-labelledby="confirmCancelModalLabel" aria-hidden="true" *ngIf="isModalOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmCancelModalLabel">ยกเลิกการจอง</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="x()"></button>
      </div>
      <div class="modal-body">
       <p>  คุณต้องการยกเลิกการจองนี้หรือไม่? </p>
       <p><strong>เงื่อนไขการยกเลิก</strong></p>
       <ul>
        <li>หากยกเลิกการจองล่วงหน้าก่อน 2 สัปดาห์ จะมีการคืนเงินให้ลูกค้าในอัตรา 100% ของค่าบริการ</li>
        <li>หากยกเลิกการจองล่วงหน้าก่อน 1 สัปดาห์ จะมีการคืนเงินให้ลูกค้าในอัตรา 50% ของค่าบริการ</li>
        <li>หากยกเลิกการจองล่วงหน้าน้อยกว่า 1 สัปดาห์ จะไม่มีการคืนเงินค่าบริการ</li>
       </ul>
       <p>โปรดยืนยันการยกเลิกด้านนล่าง:</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="deniedCancel()">ยกเลิก</button>
        <button type="button" class="btn btn-danger" (click)="confirmCancel()">ยืนยัน</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal แบบใช้ *ngIf
<div *ngIf="isModalOpen" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ยกเลิกการจอง</h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        คุณต้องการยกเลิกการจองนี้หรือไม่?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">ยกเลิก</button>
        <button type="button" class="btn btn-danger" (click)="confirmCancel()">ยืนยัน</button>
      </div>
    </div>
  </div>
</div>
 -->

