<!-- <app-navbar />

<div>

  <h1>My booking</h1>

</div>
<div class="container">
  <div class="row" *ngFor="let booked of books ">
 
    <div class="col-md-6">
      <img [src]="'assets/images/'+booked.Tour_Picture" class="card-img-top" alt="Tour Image">
    </div>
    <div class="detail col-md-6">

      <h3>รายละเอียดทัวร์ {{booked.Tour_name}}</h3>
      <hr>
      <div class="row">

        <div class="col-6">
          <p>ประเทศ: {{booked.Tour_Country}}</p>
          <p>เริ่มวันที่:{{booked.StartDate | date:'shortDate'}} </p>
          <p>ระยะเวลา: {{booked.period}} วัน</p>
        </div>
        <div class="col-6">
          <p>ที่พัก: {{booked.Hotel}}</p>
          <p>สิ้นสุดวันที่: {{booked.EndDate | date:'shortDate'}}</p>
          <p>ราคาต่อคน: {{booked.Price_per_person}} บาท</p>
        </div>


        <p>จำนวนสมาชิกที่ท่านจอง: {{booked.Tourist_Amount}} คน</p>
        <p>ราคารวม: {{booked.TotalPrice}} บาท</p>
        <p>วันที่จอง: {{booked.Booking_Date | date:'shortDate'}}</p>
        <hr>
      </div>




    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th>รายชื่อ</th>
            <th>เลขบัตรประชาชน</th>
            <th>อีเมล</th>
            <th>เบอร์โทร</th>
            <th>คำขอพิเศษ</th>
            <th>แก้ไข</th>

          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let Participant of booked.Participants; let i = index">
          
            <td>{{i+1}}</td>
            <td>{{Participant.Tourist_Firstname}}  {{Participant.Tourist_Lastname}}</td>
            <td>{{Participant.ID_Card}}</td>
            <td>{{Participant.email}}</td>
            <td>{{Participant.phone}}</td>
            <td>{{Participant.Special_Request}}</td>
            <td><button class="btn btn-primary ">แก้ไข</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="row">
      <button class="btn btn-danger ">ยกเลิก</button>
    </div>
  </div>
</div> -->


<app-navbar></app-navbar>

<div class="container">
  <h1>My Booking</h1>
  
  <div class="row">

    <div class="col- mb-4" *ngFor="let booked of books">
      <div class="card flex-row shadow-sm">
        <img [src]="'assets/images/' + booked.Tour_Picture" class="card-img-left" alt="Tour Image">
        <div class="card-body">
          <h5 class="card-title">{{ booked.Tour_name }}</h5>
          <hr>
          <div class="card-text">
            <strong>ประเทศ:</strong> {{ booked.Tour_Country }} <br>
            
            <div class="row">
              <div class="col-6">
                <strong>เริ่มวันที่:</strong> {{ booked.StartDate | date: 'shortDate' }}
              </div>
              <div class="col-6">
                <strong>สิ้นสุดวันที่:</strong> {{ booked.EndDate | date: 'shortDate' }}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <strong>ระยะเวลา:</strong> {{ booked.period }} วัน
              </div>
              <div class="col-6">
                <strong>ที่พัก:</strong> {{ booked.Hotel }}
              </div>
            </div>

            <strong>จำนวนสมาชิกที่จอง:</strong> {{ booked.Tourist_Amount }} คน <br>

            <div class="row">
              <div class="col-6">
                <strong>ราคารวม:</strong> {{ booked.TotalPrice }} บาท
              </div>
              <div class="col-6">
                <strong>ราคาต่อคน:</strong> {{ booked.Price_per_person }} บาท
              </div>
            </div>
            <strong>วันที่จอง:</strong> {{ booked.Booking_Date | date: 'shortDate' }}
          </div>
          <hr>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>ลำดับ</th>
                  <th>รายชื่อ</th>
                  <th>เลขบัตรประชาชน</th>
                  <th>อีเมล</th>
                  <th>เบอร์โทร</th>
                  <th>คำขอพิเศษ</th>
                  <th>แก้ไข</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let Participant of booked.Participants; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ Participant.Tourist_Firstname }} {{ Participant.Tourist_Lastname }}</td>
                  <td>{{ Participant.ID_Card }}</td>
                  <td>{{ Participant.email }}</td>
                  <td>{{ Participant.phone }}</td>
                  <td>{{ Participant.Special_Request }}</td>
                  <td>
                    <button class="btn btn-primary btn-sm">แก้ไข</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-danger btn-sm mt-2">ยกเลิก</button>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
 