

<!-- modal -->
<div class="modal " id="confirmCancelModal" tabindex="-1" aria-labelledby="confirmCancelModalLabel" aria-hidden="true" *ngIf="isModalOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmCancelModalLabel">ยกเลิกการจอง</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="x()"></button>
      </div>
      <div class="modal-body">
       <p>  คุณต้องการยกเลิกการจองนี้หรือไม่? </p>
       <p><strong>เงื่อนไขการยกเลิก</strong></p>
       <ul>
        <li>หากยกเลิกการจองล่วงหน้าก่อน 2 สัปดาห์ จะมีการคืนเงินให้ลูกค้าในอัตรา 100% ของค่าบริการ</li>
        <li>หากยกเลิกการจองล่วงหน้าก่อน 1 สัปดาห์ จะมีการคืนเงินให้ลูกค้าในอัตรา 50% ของค่าบริการ</li>
        <li>หากยกเลิกการจองล่วงหน้าน้อยกว่า 1 สัปดาห์ จะไม่มีการคืนเงินค่าบริการ</li>
       </ul>
       <p>โปรดยืนยันการยกเลิกด้านนล่าง:</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="deniedCancel()">ยกเลิก</button>
        <button type="button" class="btn btn-danger" (click)="confirmCancel()">ยืนยัน</button>
      </div>
    </div>
  </div>
</div>






<app-navbar></app-navbar>

<div class="container">
  <h1>My Booking</h1>
  
  <div class="row">

    <div class="col- mb-4" *ngFor="let booked of books">
      <div class="card flex-row shadow-sm">
        <img [src]="'http://localhost:3000/' + booked.Tour_Picture" class="card-img-left" alt="Tour Image">
        <div class="card-body">
          <h5 class="card-title">{{ booked.Tour_name }}    {{booked.Status}}</h5>

          <a *ngIf="booked.Status ==='pending'"   class="btn btn-primary" (click)="payment(booked)">
            ชำระเงิน
          </a>
          <hr>
          <div class="card-text">
            <strong>ประเทศ:</strong> {{ booked.Tour_Country }} <br>
            
            <div class="row">
              <div class="col-6">
                <strong>เริ่มวันที่:</strong> {{ booked.StartDate | date: 'shortDate' }}
              </div>
              <div class="col-6">
                <strong>สิ้นสุดวันที่:</strong> {{ booked.EndDate | date: 'shortDate' }}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <strong>ระยะเวลา:</strong> {{ booked.period }} วัน
              </div>
              <div class="col-6">
                <strong>ที่พัก:</strong> {{ booked.Hotel }}
              </div>
            </div>

            <strong>จำนวนสมาชิกที่จอง:</strong> {{ booked.Tourist_Amount }} คน <br>

            <div class="row">
              <div class="col-6">
                <strong>ราคารวม:</strong> {{ booked.TotalPrice }} บาท
              </div>
              <div class="col-6">
                <strong>ราคาต่อคน:</strong> {{ booked.Price_per_person }} บาท
              </div>
            </div>
            <strong>วันที่จอง:</strong> {{ booked.Booking_Date | date: 'shortDate' }}
          </div>
          <hr>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>ลำดับ</th>
                  <th>รายชื่อ</th>
                  <th>เลขบัตรประชาชน</th>
                  <th>อีเมล</th>
                  <th>เบอร์โทร</th>
                  <th>คำขอพิเศษ</th>
                  <th>แก้ไข</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let Participant of booked.Participants; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ Participant.Tourist_Firstname }} {{ Participant.Tourist_Lastname }}</td>
                  <td>{{ Participant.ID_Card }}</td>
                  <td>{{ Participant.email }}</td>
                  <td>{{ Participant.phone }}</td>
                  <td>{{ Participant.Special_Request }}</td>
                  <td>
                    <button class="btn btn-primary btn-sm">แก้ไข</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-danger btn-sm mt-2" (click)="openModal(booked)">ยกเลิก</button>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
 
