<p>log-in works!</p>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<div class="login-form">
    <div class="overlabtest">
        <div class="logo"><img src="assets/images/logo tour4.png" alt="this is website logo" width="125"></div>
    </div>
    <div class="container">
        <div class="welcome">Welcome to Sabai Tour</div>
        <div class="line"></div>
        <div class="main">
            <div class="content">
                <h2 id="Log-in">Log-in:</h2>
                <form action="" method="post" class="form-login">
                    <input type="text" class="input-user-password" id="username" placeholder=" Username or gmail "
                        required autofocus=""><br><br>
                    <input type="text" class="input-user-password" id="password" placeholder=" User password" required
                        autofocus=""><br><br>
                    <button class="button" type="submit">Sign in</button>
                </form>
                <p class="account"> <a href="broform.html" class="register-link">Don't you have an account with the
                        service yet?</a></p>
            </div>
            <div class="form-img"></div>
        </div>
    </div>
</div>