<app-navbar-manager/>
<app-sidebar-manager/>

<div class="container">
    <div class="header">
        <h2>Add Programtour</h2>
    </div>
    <div class="card">
        
    
        <div class="row">
    
        <div class="col-2">
            <h1>test</h1>
        </div>
    
        <div class="col-10">
            <div class="tourinfo">
            <div class="row">
                <div class="col">
                    <div class="boxinput">
                        <label for="text">Tourname</label><br>
                        <select name="tourname" id="tour">
                        <option value="">--Tour option--</option>
                        <option value="1">??</option>
                        <option value="1">??</option>
                        <option value="1">??</option>
                        <option value="1">??</option>
                        </select>
                    </div>
    
                </div>
                <div class="col">
                    
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="boxinput">
                        <label for="date">Start date</label><br>
                        <input type="date" id="startdate" name="startdate" required>
                    </div>
                </div>
                <div class="col">
                    <div class="boxinput">
                        <label for="date">End date</label><br>
                        <input type="date" id="enddate" name="enddate" required>
                    </div>
    
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <div class="boxinput">
                            <label for="price">Price per date</label><br>
                            <input type="number" id="price per date" name="price per day" required>
                        </div>
    
                </div>
                <div class="col">
                    <div class="boxinput">
                        <label for="price">Price per person</label><br>
                        <input type="number" id="price per date" name="price per day" required>
                    </div>
    
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <div class="boxinput">
                        <label for="text">Hotel</label><br>
                        <select name="Hotel" id="Hotel">
                        <option value="">--Hotel option--</option>
                        <option value="1">??</option>
                        <option value="1">??</option>
                        <option value="1">??</option>
                        <option value="1">??</option>
                        </select>
                    </div>
    
                </div>
                <div class="col">
                    <div class="boxinput">
                        <label for="text">Guide</label><br>
                        <select name="Guide" id="Guide">
                        <option value="">--Guide option--</option>
                        <option value="1">??</option>
                        <option value="1">??</option>
                        <option value="1">??</option>
                        <option value="1">??</option>
                        </select>
                    </div>
    
                </div>
            </div>
        
       
        
            </div>
        </div>
    
    </div>
    </div>
    

    


</div>