.col{
    width: 330px;
    height: 281px;
}

.row {
    align-items: center;
}

.btn {
    width: 278px;
    height: 44px;
    background-color: #21CCD0;
}

img{
    filter: brightness(0.9);
}

.card-img-top2{
    width: 305px;
    height: 217px;
}

.card-img-top3{
    width: 305px;
    height: 217px;
}

.card-img-top4{
    width: 305px;
    height: 217px;
}

.carousel-inner{
    width: 1340px;
    height: 400px;
    margin: 0 auto;
    border-radius: 15px;
}



.navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:30px;
    background-color: #26C19B;
    border-radius: 5px;
    margin-top: 0.5rem;
    
}

.hot-season-show{
    margin: 0.2rem;
}

.card{
    border-radius: 25px;
    overflow: hidden;
}


#firstrow{
    margin-top: 1rem ;
    margin-bottom: 8rem;
}