<button class="button-74" role="button" (click)="goBack()" >Back</button>

<div class="container">
    <div class="header">
        <h1>Create Account</h1>
    </div>
    <div class="info">
        <input type="text" placeholder="Username">
                <div class="name">
                    <input type="text" placeholder="Firstname">
                    <input type="text" placeholder="Lastname">
                </div>
                
                <input type="text" placeholder="Phone">
                <input type="email" placeholder="Email">
                <div class="boxpassword">
                    <input type="password" placeholder="Password"id="ps">
                    <input type="password" placeholder="Confirm-Password"id="ps">
                </div>
                
                <button routerLink="">Register</button>
    </div>

</div>
